@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Saira+Extra+Condensed:wght@400;500;600&display=swap');


* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a:visited {
	color: white
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
*{
	font-family: "Open Sans", sans-serif;
}
body {
	background-color: black;
}



body {
	overflow-x: hidden;
}
.header-content {
	width: 100vw;
	height: 12vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.header-logo {
	width: 20vw;
	height: 5vh;
	
}

.header-logo img{
	
	width: 100px;
	

}

.header-links {
	display: flex;
	justify-content: space-around;
	width: 40vw;
	align-items: center;
	
}

.header-links a {
	color: white;
	opacity: 50%;
	font-size: 14px;

}

.header-links button {
	width: 5vw;
	height: 4vh;
	border: solid white 2px;
	opacity: 50%;
	background-color: black;
	color: white;
	border-radius: 20px;
	text-align: center;
	line-height: 100%;

}
.burger-menu{
	height: 10vh;
	width: 100vw;
	display: none;
	justify-content: flex-end;
	align-items: center;
}
#burger-img{
	width: 100px;
	height: 120px;
}
.burger-menu-content{
	position: fixed;
	background-color: rgb(35, 35, 35);
	width: 60vw;
	height: 50vh;
	top: 0vh;
	right: -60vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;

}
.burger-active{
	right:0px ;
	top: 0px;
}
.close-button{
	position: absolute;
	left :48vw;
	width: 30px; 

	top:3vh;
	
}
