@media only screen and (max-width:1024px) {
    .header-links{
        width: 60vw;
        
    }
    .header-links button{
        width: 7vw;
    }
}
@media only screen and (max-width:768px) {
    .header-links a{
        font-size: 12px;
    }
    .header-links{
        width: 60vw;
    }
    .header-links button{
        width: 9vw;
        
    }
    .header-logo{
        margin-top: 1vh;
        padding-left: 3vw;
    }
  
}
@media only screen and (max-width:430px) {
    .header-links{
        display: none;
    }
    .burger-menu{
        width: 15vw;
        margin-top: 1vh;
    }
    .burger-menu img{
        height: 60px ;
    }
    .header-logo {
        margin-top: 1vh;
        width: 20vw;
        width: 150px;
        padding-left: 3vw;
        
    }
    .header-content{
        width: 100vw;
        justify-content: space-between;
    }
    header{
        width:100vw;
    }

}
@media only screen and (max-width:375px) {
    
}
@media only screen and (max-width:320px) {
    
}