@media only screen and (max-width:1440px) {
   .cover-page-button{
    width: 450px;
    height: 15vh;
    border-radius: 60px;
    font-size: 36px;
   }
   
}

@media only screen and (max-width:1024px) {
.my-awards-row{
    padding-left: 5vw;
}
}
@media only screen and (max-width:768px) {
   .about-me-content{
    width: 50vw;
   }
   .cover-page-phrase{
    font-size: 55px;
   }
   .cover-page-button{
    width: 350px;
    height: 10vh;
    border-radius: 60px;
    font-size: 30px;
   }
   .about-me-heading {
    font-size: 45px;
   }
   .about-me-text {
    font-size: 14px;
   }
   .about-me-button{
    width: 200px;
    font-size: 14px;
   }
   .my-awards-heading{
    font-size: 54px;
   }
   .card-image img {
    width: 260px;
    height: 320px;
   }
   .card-content-head{
    font-size: 16px;
   }
   .card-content-text{
    font-size: 16px;
   }
   .my-awards-card{
    width: 300px;
    height: 500px;
   }
   .testemonials-head{
    font-size: 54px;
   }
   .testemonials-head:after{
    width: 120px;
    height: 63px;
   }
   .testemonials-text{
    font-size: 16px;
   }
}
@media only screen and (max-width:430px) {
    
    
    .about-me-content{
        width: 50vw;
        
       }
       .cover-page-phrase{
        font-size: 35px;
       }
       .cover-page-button{
        width: 250px;
        height: 10vh;
        border-radius: 60px;
        font-size: 20px;
       }
       .about-me-heading {
        font-size: 35px;
       
       }
       .about-me-text {
        font-size: 12px;
       }
       .about-me-button{
        width: 170px;
        font-size: 13px;
       }
       .my-awards-heading{
        font-size: 34px;
       }
       
       .card-image img {
        width: 260px;
        height: 320px;
       }
       .card-content-head{
        font-size: 16px;
       }
       .card-content-text{
        font-size: 16px;
       }
       .my-awards-card{
      
        height: 400px;
       }
       .my-awards-row{
        flex-wrap: wrap;
       }
     
       .testemonials-head{
        font-size: 34px;
       }
       .testemonials-head:after{
        width: 90px;
        height: 43px;
       }
       .testemonials-text{
        font-size: 12px;
       }
       
}
@media only screen and (max-width:380px) {
    .about-me-heading{
        line-height: 40px;
    }
}
@media only screen and (max-width:320px) {
    
}