@media only screen and (max-width:2560px) {
    .myachievements h2{
        font-size: 50px;
    }
    .myachievements p{
        font-size: 30px;
        line-height: 33px;
    }
    .achievements-photos img{
        width: 45vw;
	height: 50vh;
    }
}

@media only screen and (max-width:1440px) {
    .myachievements p{
        font-size: 20px;
        line-height: 33px;
    }
}

@media only screen and (max-width:1024px) {

}
@media only screen and (max-width:768px) {
    .myachievements p{
        font-size: 23px;
        line-height:30px;
        margin-top: 2vh;
    }
   

}
@media only screen and (max-width:430px) {
    .myachievements h2{
        font-size: 30px;
    }
    .myachievements p{
        font-size: 21px;
        line-height: 30px;
        margin-top: 1vh;
        width: 80vw;
    }
    .achievements-photos{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-height: 60vh;
    }
    .aboutmyself-head h1{
        font-size: 45px;
    }
   
       
}
@media only screen and (max-width:380px) {
    .achievements-photos{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-height: 50vh;
    }
    .myachievements p{
        font-size: 18px;
        line-height: 25px;
        margin-top: 1vh;
        width: 80vw;
    }
    
}
@media only screen and (max-width:320px) {
    
}