@media only screen and (max-width:2560px) {

}

@media only screen and (max-width:1440px) {

}

@media only screen and (max-width:1024px) {

}
@media only screen and (max-width:768px) {


}
@media only screen and (max-width:430px) {
.football-section{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#block-type2{
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}
.football-photo{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.football-photo img{
    width: 45vw;
}
.football-info{
    width: 100vw;
    padding-left: 4vw;
    padding-right: 4vw;
}
.football-info h2{
    font-size: 27px;
    margin-top: 4vh;
    text-align: center;
}
   
       
}
@media only screen and (max-width:380px) {
 
    
}
@media only screen and (max-width:320px) {
    .football-head{
        font-size: 30px;
    }
}