@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Saira+Extra+Condensed:wght@400;500;600&display=swap');


* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a:visited {
	color: white
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
*{
	font-family: "Open Sans", sans-serif;
}
body {
	background-color: black;
}


body {
	overflow-x: hidden;
}
.my-football-way{
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	
}
.football-section{
	display: flex;
	align-self: center;
	justify-content: space-around;
	width: 100vw;
	margin-top: 4vh;
}
.football-photo{
	width: 40vw;
	justify-content: center;
	display: flex;
	align-items: center;
	
}
#FF{
	 
	 height: 70vh !important;
}
#FSHK-2008{
	width: 40vw;
	font-size: 14;
}
#FSHK-2008-photos{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#DEMA{
	height: 60vh;
}
.football-photo img{
	max-width: 30vw;
	max-height: 70vh;
	
}
.football-info{
	
	width: 45vw;
	
	
}
.football-info p{
	color: white;
	font-size: 18px;
	line-height: 23px;
	opacity: 50%;
	text-align: justify;
}
.football-info h2{
	font-family: "Lobster", sans-serif;
	font-weight: 700;
	font-size: 23px;
	color: white;
	margin-bottom: 1vh;
	
}

.football-head{
	color: white;
	font-size: 40px;
	font-family: "Lobster", sans-serif;
	font-weight: 700;
}
.second-text{
	margin-top: 2vh;
}